*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
    width: 100%;
    height: 103%;
    margin: 0px;
}
#header{
    background-color: rgb(0, 81, 195);
    height: 25%;
    width: 100%;
    position: relative;
    margin-top: -1vh;
}

#topMostHead{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.headerIcons{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-top: 10px;

}
.headerIcons i{
    font-size: x-large;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 15px;
    position: fixed;
    right: 30px;
    
}

.headerIcons img{
    height: 35px;
    border-radius: 20%;
    object-fit: cover;
    margin-left: 20px;
}
#headerContent{
    width: 100%;
    height: 72%;
    display: flex;
}
#headerContent1{
    width: 65%;
    height: 100%;
}
#headerContent2{
    width: 35%;
    height: 100%;
}
#headerContent1 p{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin-top: 6px;
    margin-left: 20px;
    object-fit: cover;
    display: inline-block;
}
#headerContent2 img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 100px;
    right: 25px;
    rotate: -20deg;
}


#page{
    background-color: rgb(244, 244, 244);
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
}

#box{
    background-color: rgb(243, 243, 243);
    height: 100%;
    width: 100%;
    position: relative;
}
#box img{
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#checkBalance img{
    width: 60px;
    height: 90px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 30px;
    margin-top: 40px;
}

#page2{
    background-color: rgb(244 244 244);
    width: 100%;
    height: 100%;
    position: absolute;
}

#page2 img{
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0px;
    right: 0px;
}
#img-container a{
    position: absolute;
    /* Adjust these values */
    top: 600px;   /* move vertically until it reaches below GO BACK */
    right: 153px;  /* stick to right side */
    padding: 8px 12px;
    text-decoration: none;
    font-size: 50px;
}





